.corpo{
    background-color: aquamarine;
    text-align: center;
    color: black;
    border: 3cm;
    border-color: black;
    border-style: inset;
    border-radius: 17px;
}
p{
    font-size: 25px;
    color: black;
}